@charset "ISO-8859-1";
.button {
  display: inline-block;
  border-radius: 4px;
  background-color:#339BFF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin:5px;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

body {
    text-align: center;
}
form {
    display: inline-block;
}